.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;


  .sprite {
    background-image: url(../../../public/sprite100.gif);
    float: left;
  
    &.time {
      width: 13px;
      height: 23px;
  
      &.time0 {
        background-position: 0 0;
      }
      &.time1 {
        background-position: -13px 0;
      }
      &.time2 {
        background-position: -26px 0;
      }
      &.time3 {
        background-position: -39px 0;
      }
      &.time4 {
        background-position: -52px 0;
      }
      &.time5 {
        background-position: -65px 0;
      }
      &.time6 {
        background-position: -76px 0;
      }
      &.time7 {
        background-position: -89px 0;
      }
      &.time8 {
        background-position: -104px 0;
      }
      &.time9 {
        background-position: -117px 0;
      }
    }
  
    &.square {
      width: 16px;
      height: 16px;
  
      &.blank {
        background-position: 0 -39px;
      }
      &.open0 {
        background-position: 0 -23px;
      }
      &.open1 {
        background-position: -16px -23px;
      }
      &.open2 {
        background-position: -32px -23px;
      }
      &.open3 {
        background-position: -48px -23px;
      }
      &.open4 {
        background-position: -64px  -23px;
      }
      &.open5 {
        background-position: -80px -23px;
      }
      &.open6 {
        background-position: -96px -23px;
      }
      &.open7 {
        background-position: -112px -23px;
      }
      &.open8 {
        background-position: -128px -23px;
      }
      &.bombrevealed {
        background-position: -64px -39px;
      }
      &.bombdeath{
        background-position: -32px -39px;
      }
      &.bombflagged{
        background-position: -16px -39px;
      }
    }
  }
}